@use '@angular/material' as mat;

.add-task{
  display: grid;
  align-items: center;
  background-color: #242424;
  border-radius: 20px;
}

.add-task__title{
  display: flex;
  justify-content: space-between;
}
.add-task__description{
  display: flex;
  scrollbar-color: #9f9f9f #2c2c2c;
}

.add-task__input{
  border: none;
  outline: none;
  background-color: #242424;
  color: #FFFFFF;
  text-align: left;
  word-wrap: break-word;
  padding-left: 28px;
  margin: 0 10px;
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
}

.button__add{
  margin: 12px;
  font-weight: 600;
  --mat-button-filled-container-height: 49px;
  @include mat.button-overrides((
    filled-container-color: #06AA71,
  ));
}
.button__add:disabled{
  background-color: #06AA71;
  color: #FFFFFF;
  opacity: 0.5;
}

.task__description{
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #313131;
  border-radius: 20px;
  background-color: #242424;
  width: 100%;
  min-height: 30px;
  resize: vertical;
  margin: 0 12px 12px 12px;
  resize: none;
}
