<app-toast />
<div class="add-task">
  <div class="add-task__title">
    <input class="add-task__input" placeholder="Добавь новую задачу" [(ngModel)]="newTaskText" >
    <app-button-component appTooltip="Добавляет новую задачу" class="button__add" [disabledState]="!newTaskText" (onClick)="addTask()">Добавить</app-button-component>
  </div>
  @if(newTaskText){
    <div class="add-task__description">
      <textarea class="task__description" [(ngModel)]="newTaskTextDescription" cols="30" rows="10"></textarea>
    </div>
  }
</div>
