@use '@angular/material' as mat;

ul{
  list-style-type: none;
  padding: 0;
}

li{
  justify-content: space-between;
}
.task-selected{
  background-color: #343434 !important;
}

.tasks{
  display: flex;
}
.list-tasks{
  flex: 1;
}
.sidebar{
  border: none;
  border-radius: 20px;
  background-color: #242424;
  margin: 14px 0px 14px 20px;
  padding: 10px 20px;
  flex: 0 0 350px;
}

.list-tasks__task {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  background-color: #242424;
  border-radius: 20px;
  height: 73px;
  white-space: normal;
}

.list-tasks__task span {
  padding: 26.5px 0 26.5px 38px;
  margin: 0;
  flex: 1;
  text-align: left;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 600;
}

.button__delete{
  font-weight: 600;
  @include mat.button-overrides((
    filled-container-color: #FF5B5B,
    filled-label-text-color: #411616
  ));
}
