<div class="tasks">
  <div class="list-tasks">
    <ul>
      @for(task of tasks; track task.id ){
        <li >
          <div class="list-tasks__task" [ngClass]="{'task-selected': selectedTask?.id === task.id}">
            <span appTooltip="{{task.description}}" (click)="selectTask(task)">{{task.text}}</span>
            <app-button-component class="button__delete" appTooltip="Удаляет задачу" [title]="'Удалить'" (onClick)="delTask(task.id)" />
          </div>
        </li>
      }
    </ul>
  </div>
  @if(selectedTask){
    <div class="sidebar">
      <h2>Описание</h2>
      <span>{{selectedTask.description}}</span>
    </div>
  }
</div>
