@use '@angular/material' as mat;

ul{
  list-style-type: none;
  padding: 0;
}

li{
  justify-content: space-between;
}
.task-selected{
  background-color: #343434 !important;
}

.tasks{
  display: flex;
}
.list-tasks{
  flex: 1;
  min-width: 60%;
}

.list-tasks__task {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  background-color: #242424;
  border-radius: 20px;
  height: 73px;
  white-space: normal;
}

.list-tasks__task span {
  padding: 26.5px 0 26.5px 38px;
  margin: 0;
  flex: 1;
  text-align: left;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 600;
}

.ditailsTask{
  flex: 1;
}

.checkbox{
  appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.13rem solid #CDCDCD;
  border-radius: 0.5rem;
  background-color: #242424;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 23px;
}

.checkbox:checked{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    background-image: url('../../../assets/check-mark.svg') ;
    background-repeat: no-repeat;
    background-position: center;
}

.filter{
  display: flex;
}

.button__filter{
  margin-left: 0.5rem;
  font-weight: 600;
  --mat-button-filled-container-height: 42px;
  @include mat.button-overrides((
    filled-container-color: #242424,
    filled-label-text-color: #CDCDCD
  ));
}

.button__filter:hover{
  @include mat.button-overrides((
    filled-container-color: #FFFFFF,
    filled-label-text-color: #101010
  ));
}

.button__filter__selected{
  @include mat.button-overrides((
    filled-container-color: #FFFFFF,
    filled-label-text-color: #101010
  ));
}
