<h1>Todo List</h1>

<div class="add-task">
  <input class="add-task__input" placeholder="Добавь новую задачу" [(ngModel)]="newTaskText" >
  <app-button-component [title]="'Добавить задачу'" />
  <!-- <button class="button button__add" matButton="filled" [disabled]="!newTaskText" (click)="addTask()">Добавить задачу</button> -->
</div>

<hr class="dashed-line">
@if(isLoading){
  <div class="box__loader">
    <span class="loader"></span>
  </div>
}@else{
  <app-to-do-list-item [tasks]="tasks" />
}

