.container{
  width: 100%;
  height: 100%;
  display: flex;
}
.sidebar{
  max-width: 18%;
  min-width: 18%;
  overflow: hidden;
}
.sidebar__logo{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 3rem;
}
.logo{
  margin-right: 12px;
}
.logo__text{
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}
.sidebar__menu{
  padding: 0.3rem 3rem;
}
ul{
  list-style-type: none;
  padding: 0;
}
.menu{
  max-width: 224px;
  max-height: 50px;
  margin-bottom: 10px;
  border-radius: 8px;
  gap: 10px;
  // background: linear-gradient(89.86deg, #C5FE4C -75.12%, #2D3718 25.55%, #141414 73.33%);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

.menu:hover{
  margin-bottom: 10px;
  border-radius: 8px;
  gap: 10px;
  background: linear-gradient(89.86deg, #FFFFFF -75.12%, #2D2D2D 25.55%, #141414 73.33%);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;

  .menu-dec {
    background-color: #949494;
    max-height: 34px;
    max-width: 10px;
    border-radius: 21px;
    box-shadow: 0px 4px 42px 0px #C3FB4C4D;
    position: absolute;
    left: -5px;
    top: 8px;
  }
}

.menu-active{
  margin-bottom: 10px;
  border-radius: 8px;
  gap: 10px;
  background: linear-gradient(89.86deg, #C5FE4C -75.12%, #2D3718 25.55%, #141414 73.33%);
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;

  .menu-dec {
    background-color: #C5FE4C;
    border-radius: 21px;
    box-shadow: 0px 4px 42px 0px #C3FB4C4D;
    position: absolute;
    left: -5px;
    top: 8px;
  }
}

.menu-container {
  position: relative;
  overflow: hidden;
  padding: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 24px;
}
.menu-dec {
  // background-color: #C5FE4C;
  height: 34px;
  width: 10px;
  border-radius: 21px;
  // box-shadow: 0px 4px 42px 0px #C3FB4C4D;
  position: absolute;
  left: -5px;
  top: 8px;
}

.menu-icon {
  display: flex;
  text-align: center;
}

.content-conteiner{
  width: 100%;
  margin: 28px 28px 28px 0;
  padding: 48px 60px;
  border-radius: 20px;
  border: 1px solid #2B2B2B;
  background-color: #141414;
  overflow: auto;
  scrollbar-color: #9f9f9f #2c2c2c;

}

