@use '@angular/material' as mat;

.app-button{
  border: none;
  font-weight: 600;
  --mat-button-filled-container-height: 49px;
  --mat-button-filled-container-shape: 8px;
  --mat-button-filled-label-text-font: Arial;
  @include mat.button-overrides((
    filled-label-text-color: #FFFFFF,
  ));
  width: 100%;
}

.button__add{
  @include mat.button-overrides((
    filled-container-color: #06AA71,
  ));
}
.button__add:disabled{
  background-color: #06AA71;
  color: #FFFFFF;
  opacity: 0.5;
}
