.titel-page{
  margin: 0 0 36px 0;
  font-size: 32px;
  font-weight: 600;
}
.titel-column{
  color: #303030;
  font-size: 16px;
  font-weight: 500;
}
.board-container{
  display: flex;
  justify-content: space-between;
  height: 89%;
}
.board-container__column {
  width: 30%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  border-left: 2px dashed #2B2B2B;
  padding-left: 16px;
  overflow: auto;
}
.board-container__column:last-child{
  border-right: 2px dashed #2B2B2B;
  padding-right: 16px;
}
.board-list {
  // border: solid 1px #ccc;
  min-height: 60px;
  background: #141414;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}
.board-container__box {
  padding: 20px 10px;
  margin-bottom: 8px;
  border-bottom: solid 1px #303030;
  border-radius: 8px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #242424;
  font-size: 16px;
  font-weight: 600;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
  border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
