.toast{
  position: fixed;
  right: 1%;
  top: 1%;
  z-index: 3;
}

.toast__body{
  width: 300px;
  background-color: #2F5523;
  color: #87D96E;
  border-radius: 20px;
  padding: 16px 20px;
  margin-bottom: 8px;
}
