@use '@angular/material' as mat;

.sidebar h2 {
  margin-top: 0;
}

.description-content{
  height: 100%;
  margin-bottom: 12px;
}

.button__delete{
  font-weight: 600;
  --mat-button-filled-container-height: 49px;
  @include mat.button-overrides((
    filled-container-color: #FF5B5B,
    filled-label-text-color: #411616
  ));
}

.edit-fields{
  margin-bottom: 12px;
}

.edit-task-field{
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #313131;
  border-radius: 20px;
  background-color: #242424;
  min-height: 30px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  scrollbar-color: #9f9f9f #2c2c2c;
}
