.titel-page{
  margin: 0 0 36px 0;
  font-size: 32px;
  font-weight: 600;
}
.sidebar h2{
  margin-left: 20px;
}
.sidebar span{
  margin-left: 20px;
}

.dashed-line {
  margin: 24px 0;
  border: 0;
  height: 1px;
  background: transparent;
  border-top: 2px dashed #242424;
  width: 100%;
}



